*{
    box-sizing: border-box;
}
.nav-container{
    border: 1px solid red;
    min-height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
   
   }
.logo-container{
    border: 1px solid blue;
    display: flex;
    height: 20px;
    width: 50%;
    justify-content: center;
    margin-left: -80px;
    margin-bottom: 20px;
}
.logo-container img{
    /* border: 2px solid red; */
    height: 14px;
    margin-top: 15px;
    margin-right: 5px;
}
.logo-container p{
    font-size: 14px;
    font-family: sans-serif;
}
.G-section{
    color: red;
}
.nav-items{
    border: 1px solid green;
    width: 50%;
    margin-left: 80px;
}